<div class="profile-currently">
    <div class="avatar" style="background-image: url('{{selectUser.picture.medium}}')"></div>
    <div class="profile-description">
        <form action="#">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="selectUser.name.first">
            </div>
            <div class="form-group">
                <label>Born</label>
                <input type="date" class="form-control" ng-model="selectUser.born">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="selectUser.gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" class="form-control" ng-model="selectUser.phone">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="selectUser.email">
            </div>
            <div class="form-group">
                <input type="button" class="form-control" value="Save" ng-click="submit()">
            </div>

        </form>

    </div>
</div>